body {
    margin: 25% 10%;
}

p {
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: bolder;
    line-height: 60px;
    border-radius: 20px / 10px;
    border: 3px solid gold;
    margin: 20px auto;
    color: white;
    height: 60px;
    display: block;
    background-color: red;
    padding: 10px;
    text-shadow: 1px 1px 1px 1px black;
}

.animate-me {
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    0% {
        background-color: purple;
        font-size: 12px
    }
    50% {
        background-color: red;
        font-size: 50px;
    }
    100% {
        background-color: purple;
        font-size: 50px;
    }
}